:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: Arial, sans-serif;
}
main {
  flex: 1;
  padding: 20px;
  /* border: 1px solid red; */
  /* background-color: #f4f4f4; */
}
.sidebar {
  width: 220px;
  background-color: #09427a;
  color: white;
  /* padding: 20px; */
  box-sizing: border-box;
}

.sidebar-title {
  font-size: 24px;
  margin-bottom: 30px 0;
  /* border-bottom: 2px solid #171c20; */
  padding-bottom: 10px;
  text-align: center;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  /* border-bottom: 2px solid #5799db; */
}

.sidebar-link {
  /* margin-top:2rem ; */
  font-size: 1.5rem;
  color: white;
  text-align: center;
  text-decoration: none;
  border-top: 2px solid #5799db;
  border-bottom: 2px solid #5799db;
  padding: 10px 0;
  transition: background 0.3s;
}

.sidebar-link:hover{
  background-color: #34495e;
  padding-left: 10px;
}

.table-container {
  /* min-height: 1rem; */
  height: 80vh;
  overflow: auto;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  & img{
height: 2rem;
  }
}


.custom-table {
  height: 1rem;
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.custom-table thead {
  /* min-height: 1rem; */
  color: black;
  background-color: #f2f2f2;
}

.custom-table th,
.custom-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.custom-table tr:hover {
  background-color: #f9f9f9;
  color: black;
}

.home{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}